## India cesnsus 2011 dataset

#### This data is about total population, demography, literacy, districts, states, workers, religion, education, age from India

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [4]:
file = os.path.join(os.getcwd(),'raw_data/6. India Census 2011.csv')
df = pd.read_csv(file)
df_copy = df.copy()

#### Data exploratory

In [5]:
df_copy.head()

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334

In [7]:
df_copy.dtypes

District_code            int64
State_name              object
District_name           object
Population               int64
Male                     int64
Female                   int64
Literate                 int64
Workers                  int64
Male_Workers             int64
Female_Workers           int64
Cultivator_Workers       int64
Agricultural_Workers     int64
Household_Workers        int64
Hindus                   int64
Muslims                  int64
Christians               int64
Sikhs                    int64
Buddhists                int64
Jains                    int64
Secondary_Education      int64
Higher_Education         int64
Graduate_Education       int64
Age_Group_0_29           int64
Age_Group_30_49          int64
Age_Group_50             int64
dtype: object

In [9]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   District_code         640 non-null    int64
 1   State_name            640 non-null    object
 2   District_name         640 non-null    object
 3   Population            640 non-null    int64
 4   Male                  640 non-null    int64
 5   Female                640 non-null    int64
 6   Literate              640 non-null    int64
 7   Workers               640 non-null    int64
 8   Male_Workers          640 non-null    int64
 9   Female_Workers        640 non-null    int64
 10  Cultivator_Workers    640 non-null    int64
 11  Agricultural_Workers  640 non-null    int64
 12  Household_Workers     640 non-null    int64
 13  Hindus                640 non-null    int64
 14  Muslims               640 non-null    int64
 15  Christians            640 non-null    int64
 16  Sikhs                 640 non-null    int64
 17  Buddhists             640 non-null    int64
 18  Jains                 640 non-null    int64
 19  Secondary_Education   640 non-null    int64
 20  Higher_Education      640 non-null    int64
 21  Graduate_Education    640 non-null    int64
 22  Age_Group_0_29        640 non-null    int64
 23  Age_Group_30_49       640 non-null    int64
 24  Age_Group_50          640 non-null    int64
dtypes: int64(23), object(2)
memory usage: 125.1+ KB

In [10]:
df_copy.shape

(640, 25)

In [12]:
df_copy.describe()

,District_code,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,Cultivator_Workers,Agricultural_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
count,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,...,6.400000e+02,6.400000e+02,640.000000,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02
mean,320.500000,1.891961e+06,9.738598e+05,9.181011e+05,1.193186e+06,7.529514e+05,5.186561e+05,2.342953e+05,1.856387e+05,2.255513e+05,...,4.346811e+04,3.255174e+04,13192.143750,6955.864062,2.051046e+05,1.241736e+05,1.090132e+05,1.102826e+06,4.820189e+05,3.001005e+05
std,184.896367,1.544380e+06,8.007785e+05,7.449864e+05,1.068583e+06,6.071622e+05,4.412388e+05,1.913541e+05,1.514895e+05,2.216222e+05,...,1.087273e+05,1.603859e+05,56347.946567,23624.010655,2.164778e+05,1.304154e+05,1.502260e+05,8.887434e+05,4.183230e+05,2.549556e+05
min,1.000000,8.004000e+03,4.414000e+03,3.590000e+03,4.436000e+03,3.555000e+03,2.228000e+03,1.327000e+03,0.000000e+00,0.000000e+00,...,1.710000e+02,3.000000e+00,1.000000,0.000000,8.090000e+02,6.560000e+02,3.560000e+02,5.113000e+03,2.088000e+03,7.860000e+02
25%,160.750000,8.178610e+05,4.171682e+05,4.017458e+05,4.825982e+05,3.284688e+05,2.294168e+05,9.420350e+04,7.491025e+04,5.284175e+04,...,1.951750e+03,2.537500e+02,163.750000,124.750000,7.078575e+04,4.234700e+04,2.799200e+04,4.786540e+05,2.101965e+05,1.193285e+05
50%,320.500000,1.557367e+06,7.986815e+05,7.589200e+05,9.573465e+05,6.223410e+05,4.288515e+05,1.929265e+05,1.501250e+05,1.645300e+05,...,6.079500e+03,7.375000e+02,372.000000,741.000000,1.523325e+05,8.998700e+04,6.624350e+04,8.896820e+05,3.905085e+05,2.421020e+05
75%,480.250000,2.583551e+06,1.338604e+06,1.264277e+06,1.602260e+06,1.036544e+06,6.991510e+05,3.163658e+05,2.553015e+05,3.258982e+05,...,2.750850e+04,2.800000e+03,1942.500000,4150.750000,2.629160e+05,1.583555e+05,1.299488e+05,1.491204e+06,6.525142e+05,4.045875e+05
max,640.000000,1.106015e+07,5.865078e+06,5.195070e+06,8.227161e+06,4.492767e+06,3.363123e+06,1.239177e+06,1.013050e+06,1.227956e+06,...,1.248137e+06,1.863408e+06,668050.000000,343639.000000,2.018079e+06,1.196965e+06,1.733274e+06,6.184519e+06,3.241888e+06,1.921143e+06

#### 1 How will you hide the indexes of the dataframe

In [15]:
df_copy.head().style.hide_index()

/tmp/ipykernel_527/1104393793.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  df_copy.head().style.hide_index()

#### 2 How can we set the caption / heading on the dataframe

In [22]:
df_copy.head().style.set_caption('India Census 2011 Dataset')

#### 3 Show the records related with the districts - New Delhi, Lucknow, Jaipur

In [29]:
df_copy[df_copy['District_name'].isin(['New Delhi','Lucknow','Jaipur'])]

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
93,94,NCT OF DELHI,New Delhi,142004,77942,64062,114179,59541,46940,12601,...,4852,2933,312,679,15942,17742,23934,76076,43913,21773
109,110,RAJASTHAN,Jaipur,6626178,3468507,3157671,4300965,2464893,1714947,749946,...,12708,18782,1020,81079,659389,455527,703673,4091148,1646480,884057
156,157,UTTAR PRADESH,Lucknow,4589838,2394476,2195362,3127260,1542806,1226399,316407,...,20493,23883,3877,4975,428121,378742,639260,2678289,1161686,685258

#### 4 Calculate state-wise:

##### A Total number of polulation

In [41]:
df_copy.groupby(['State_name']).Population.sum().sort_values(ascending=False)

State_name
UTTAR PRADESH                  199812341
MAHARASHTRA                    112374333
BIHAR                          104099452
WEST BENGAL                     91276115
ANDHRA PRADESH                  84580777
MADHYA PRADESH                  72626809
TAMIL NADU                      72147030
RAJASTHAN                       68548437
KARNATAKA                       61095297
GUJARAT                         60439692
ORISSA                          41974218
KERALA                          33406061
JHARKHAND                       32988134
ASSAM                           31205576
PUNJAB                          27743338
CHHATTISGARH                    25545198
HARYANA                         25351462
NCT OF DELHI                    16787941
JAMMU AND KASHMIR               12541302
UTTARAKHAND                     10086292
HIMACHAL PRADESH                 6864602
TRIPURA                          3673917
MEGHALAYA                        2966889
MANIPUR                          2855794
NAGALAND                         1978502
GOA                              1458545
ARUNACHAL PRADESH                1383727
PONDICHERRY                      1247953
MIZORAM                          1097206
CHANDIGARH                       1055450
SIKKIM                            610577
ANDAMAN AND NICOBAR ISLANDS       380581
DADRA AND NAGAR HAVELI            343709
DAMAN AND DIU                     243247
LAKSHADWEEP                        64473
Name: Population, dtype: int64

##### B Total no of polulation with different religions

In [55]:
df_copy.groupby(['State_name'])['Hindus','Muslims','Christians','Sikhs','Buddhists','Jains'].sum()

/tmp/ipykernel_527/805639114.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_copy.groupby(['State_name'])['Hindus','Muslims','Christians','Sikhs','Buddhists','Jains'].sum()

,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains
State_name,,,,,,
ANDAMAN AND NICOBAR ISLANDS,264296,32413,80984,1286,338,31
ANDHRA PRADESH,74824149,8082412,1129784,40244,36692,53849
ARUNACHAL PRADESH,401876,27045,418732,3287,162815,771
ASSAM,19180759,10679345,1165867,20672,54993,25949
BIHAR,86078686,17557809,129247,23779,25453,18914
CHANDIGARH,852574,51447,8720,138329,1160,1960
CHHATTISGARH,23819789,514998,490542,70036,70467,61510
DADRA AND NAGAR HAVELI,322857,12922,5113,217,634,1186
DAMAN AND DIU,220150,19277,2820,172,217,287
GOA,963877,121564,366130,1473,1095,1109
GUJARAT,53533988,5846761,316178,58246,30483,579654
HARYANA,22171128,1781342,50353,1243752,7514,52613
HIMACHAL PRADESH,6532765,149881,12646,79896,78659,1805
JAMMU AND KASHMIR,3566674,8567485,35631,234848,112584,2490
JHARKHAND,22376051,4793994,1418608,71422,8956,14974
KARNATAKA,51317472,7893065,1142647,28773,95710,440280
KERALA,18282492,8873472,6141269,3814,4752,4489
LAKSHADWEEP,1788,62268,317,8,10,11
MADHYA PRADESH,66007121,4774695,213282,151412,216052,567028
MAHARASHTRA,89703057,12971152,1080073,223247,6531200,1400349
MANIPUR,1181876,239836,1179043,1527,7084,1692
MEGHALAYA,342078,130399,2213027,3045,9864,627
MIZORAM,30136,14832,956331,286,93411,376
NAGALAND,173054,48963,1739651,1890,6759,2655
NCT OF DELHI,13712100,2158684,146093,570581,18449,166231
ORISSA,39300341,911670,1161708,21991,13852,9420
PONDICHERRY,1089409,75556,78550,297,451,1400
PUNJAB,10678138,535489,348230,16004754,33237,45040
RAJASTHAN,60657103,6215377,96430,872930,12185,622023
SIKKIM,352662,9867,60522,1868,167216,314
TAMIL NADU,63188168,4229479,4418331,14601,11186,89265
TRIPURA,3063903,316042,159882,1070,125385,860
UTTAR PRADESH,159312654,38483967,356448,643500,206285,213267
UTTARAKHAND,8368636,1406825,37781,236340,14926,9183
WEST BENGAL,64385546,24654825,658618,63523,282898,60141

#### 5 How many male workers were there in Maharashtra state?

In [59]:
df_copy[df_copy['State_name'] == 'MAHARASHTRA'].Male_Workers.sum()

331939875

#### 6 How to set a column as index of the dataframe?

In [60]:
df_copy.set_index('District_code')

,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,Cultivator_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
District_code,,,,,,,,,,,,,,,,,,,,,
1,MAHARASHTRA,Kupwara,870354,474190,396164,439654,229064,190899,38165,34680,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
2,MAHARASHTRA,Badgam,753745,398041,355704,335649,214866,162578,52288,55299,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
3,MAHARASHTRA,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,20869,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
4,MAHARASHTRA,Kargil,140802,77785,63017,86236,51873,39839,12034,8266,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
5,MAHARASHTRA,Punch,476835,251899,224936,261724,161393,117677,43716,54264,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,MAHARASHTRA,Mahe,41816,19143,22673,36470,11802,9093,2709,43,...,958,3,21,14,8773,5711,4475,19760,12543,9428
637,MAHARASHTRA,Karaikal,200222,97809,102413,154916,68301,53139,15162,2372,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
638,MAHARASHTRA,Nicobars,36842,20727,16115,25332,17125,12714,4411,322,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
639,MAHARASHTRA,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,10727,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
640,MAHARASHTRA,South Andaman,238142,127283,110859,190266,96831,77563,19268,5518,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

#### 7a Add a Suffix to the column names

In [65]:
df_copy.add_suffix('_Suffix')

,District_code_Suffix,State_name_Suffix,District_name_Suffix,Population_Suffix,Male_Suffix,Female_Suffix,Literate_Suffix,Workers_Suffix,Male_Workers_Suffix,Female_Workers_Suffix,...,Christians_Suffix,Sikhs_Suffix,Buddhists_Suffix,Jains_Suffix,Secondary_Education_Suffix,Higher_Education_Suffix,Graduate_Education_Suffix,Age_Group_0_29_Suffix,Age_Group_30_49_Suffix,Age_Group_50_Suffix
0,1,MAHARASHTRA,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,MAHARASHTRA,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,MAHARASHTRA,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,MAHARASHTRA,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,MAHARASHTRA,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,MAHARASHTRA,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,MAHARASHTRA,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,MAHARASHTRA,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,MAHARASHTRA,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,MAHARASHTRA,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

#### 7b Add a Prefix to the column names

In [64]:
df_copy.add_prefix('Prefix_')

,Prefix_District_code,Prefix_State_name,Prefix_District_name,Prefix_Population,Prefix_Male,Prefix_Female,Prefix_Literate,Prefix_Workers,Prefix_Male_Workers,Prefix_Female_Workers,...,Prefix_Christians,Prefix_Sikhs,Prefix_Buddhists,Prefix_Jains,Prefix_Secondary_Education,Prefix_Higher_Education,Prefix_Graduate_Education,Prefix_Age_Group_0_29,Prefix_Age_Group_30_49,Prefix_Age_Group_50
0,1,MAHARASHTRA,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,MAHARASHTRA,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,MAHARASHTRA,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,MAHARASHTRA,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,MAHARASHTRA,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,MAHARASHTRA,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,MAHARASHTRA,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,MAHARASHTRA,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,MAHARASHTRA,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,MAHARASHTRA,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128